.author {
    background-image: url('../img/backs-5.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 0 0;
    &-title {
        font-size: 40px;
        color: $mainColor;
        font-family: $mainFont;
        font-weight: 700;
        text-align: center;
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-item {
            &:first-child {
                padding-top: 50px;
                max-width: 700px;
            }
            &:last-child {
                max-width: 100%;
                object-fit: cover;
                width: 400px;
            }
            &-title {
                font-size: 40px;
                color: $mainColor;
                font-family: $mainFont;
                font-weight: 700;
                padding-bottom: 20px;
             
            }
            &-desc {
                font-size: 16px;
                color: $mainColor;
                font-family: $mainFont;
                font-weight: 600;
                padding-bottom: 20px;
                & span {
                    font-weight: 800;
                }
            }
            &-subtitle {
                padding: 10px;
                font-size: 30px;
                color: $secondColor;
                font-family: $mainFont;
                font-weight: 700;
                background-color: $mainColor;
                max-width: 700px;
                border-radius: 20px;
                margin-bottom: 20px;
            }
        }
    }
}