.program {
    background-image: url('../img/backs-3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    &-item {
        &-info {
            font-size: 20px;
            padding-top: 10px;
            letter-spacing: 0.3px;
        }
    }
    &-list {
        padding: 0;
        padding-top: 20px;
        &-item {
            position: relative;
            font-size: 20px;
            padding-left: 20px;
            padding-top: 9px;
            &::before {
                content: '●';
                position: absolute;
                left: 0;
                font-size: 30px;
                top: 0;
            }
            // &:first-child {
            //     margin: 0;
            //     padding: 0;
            //     font-size: 25px;
            //     font-weight: 700;
            //     &::before {
            //         content: '';
            //     }
            // }
        }
    }
    &-title {
        margin-left: auto;
        max-width: 300px;
        position: relative;
        margin-right: 90px;
        &::before {
            content: '?';
            font-family: $mainFont;
            color: $secondColor;
            font-size: 120px;
            left: -70px;
            position: absolute;
            top: -25px;
            font-weight: 700;
        }
        &-item {
            text-align: left;
            font-family: $mainFont;
            color: $secondColor;
            font-size: 40px;
            font-weight: 700;
        }
    }
    &-wrapper {
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &-video {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        & iframe {
            max-width: 100%;
            border-radius: 20px;
        }
        &-item {
            color: $secondColor;
            font-family: $mainFont;
            max-width: 500px;
            width: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-subtitle {
                text-align: center;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    background-color: $secondColor;
                    height: 4px;
                    width: 100px;
                    left: 3px;
                    top: 12px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    background-color: $secondColor;
                    height: 4px;
                    width: 100px;
                    right: 3px;
                    top: 12px;
                }
            }
        }
    }
}
td {
    display: flex;
    justify-content: space-between;
}
table {
    padding-top: 30px;
}
th {
    font-size: 18px;
    border: 3px solid $secondColor;
    padding: 5px;
}

.program-wrapper-video .preview-btn {
    margin-bottom: 40px;
    margin-right: 0;
}