footer
    section.footer#footer
        .container
            h1.footer-title Запишитесь на#[br]бесплатную консультацию
            .footer-wrapper 
                .footer-wrapper-item.footer-forms 
                    input(type="text" placeholder="Как вас зовут?").footer-forms-form
                    input(type="text" placeholder="Номер телефона").footer-forms-form
                    input(type="text" placeholder="Ваша почта").footer-forms-form
                    button.footer-forms-btn Перезвоните мне!
                .footer-wrapper-item
                   h2.footer-wrapper-item-title 1. Отправьте заявку
                   p.footer-wrapper-item-desc Заполните форму, указав свои данные
                   h2.footer-wrapper-item-title 2. Мы свяжемся с вами
                   p.footer-wrapper-item-desc Ответим на все вопросы, проверим#[br]ваш уровень языка и проведём#[br]бесплатное пробное занятие
                   h2.footer-wrapper-item-title 3. Увидимся на занятих!
    section.down-bar 
        .container 
            h1.down-bar-title © Иврит Кала. 2020-2021. Все права защищены