head
    meta(charset='utf-8')
    title Start 
    link(href='css/style.css', rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    script(src="https://cdn.boomcdn.com/libs/wow-js/1.3.0/wow.min.js")
    link(rel="preconnect" href="https://fonts.gstatic.com") 
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet")