main
    section.skills 
        .container
            .skills-wrapper
                .skills-wrapper-item.slideInLeft.wow
                    h1.skills-wrapper-item-title Что 
                        span.skills-title--mod вы сможете
                    h1.skills-wrapper-item-title после обучения
                    ul.skills-list 
                        li.skills-list-item Свободно изъяснять свои мысли
                        li.skills-list-item Понимать ивритоговорящих собеседников
                        li.skills-list-item Устроиться на работу по профессии
                        li.skills-list-item Понять структуру языка и пользоваться ей с легкостью
                img(src="img/youtube.webp", alt="youtube").skills-wrapper-item.slideInRight.wow
        section.program 
                .container
                    .program-title
                        h1.program-title-item 
                            | Как проходит
                            br
                            | курс
                    .program-wrapper 
                        <iframe class="u-video-3" allowfullscreen="allowFullScreen" src="https://www.youtube.com/embed/bIHAlZBoHXk?ecver=1&amp;autoplay=1&amp;iv_load_policy=3&amp;rel=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red&amp;width=560&amp;width=560" width="560" height="315" allowtransparency="true" frameborder="0"><div style="text-align: center;">></div><script type="text/javascript">function execute_YTvideo(){return youtube.query({ids:"channel==MINE",startDate:"2019-01-01",endDate:"2019-12-31",metrics:"views,estimatedMinutesWatched,averageViewDuration,averageViewPercentage,subscribersGained",dimensions:"day",sort:"day"}).then(function(e){},function(e){console.error("Execute error",e)})}</script></iframe>  
                        .program-wrapper-item 
                            h2.program-wrapper-item-subtitle 90 видеуроков
                            table
                                tbody 
                                    tr
                                        th 
                                            | Слова и
                                            br
                                            | выражения 
                                        th 
                                            | Глаголы: 
                                            br
                                            | от А до Я
                                        th 
                                            | Союзы, 
                                            br
                                            | приставки
                            ul.program-list 
                                li.program-list-item Программа дня:
                                li.program-list-item Урок с конспектом
                                li.program-list-item Домашнее задание
                                li.program-list-item Частные уроки с преподавателем
                                li.program-list-item Обратная связь с учениками
