main
    section.skills 
        .container
            .skills-wrapper
                .skills-wrapper-item.slideInLeft.wow
                    h1.skills-wrapper-item-title Что 
                        span.skills-title--mod вы сможете
                    h1.skills-wrapper-item-title после обучения
                    ul.skills-list 
                        li.skills-list-item Свободно изъяснять свои мысли
                        li.skills-list-item Понимать ивритоговорящих собеседников
                        li.skills-list-item Устроиться на работу по профессии
                        li.skills-list-item Понять структуру языка и пользоваться ей с легкостью
                img(src="img/youtube.webp", alt="youtube").skills-wrapper-item.slideInRight.wow